body {
	font-family: sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

.kiosk {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	margin: 20px;
	padding: 20px;
}

h1 {
	font-size: 24px;
	margin-top: 0;
}

label,
input,
button {
	display: block;
	margin: 10px 0;
	width: 100%;
}

label {
	font-weight: bold;
}

input[type="text"],
input[type="number"] {
	border: none;
	border-bottom: 2px solid #ddd;
	padding: 10px;
}

button[type="submit"] {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}
